.history-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  max-width: 60%;
  margin-top: 5%;
  margin-left: 9%;
  padding: 2%;
  background-color: white;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 700px;
  }

  .mat-cell {
    justify-content: center;
  }

  .mat-header-cell{
    justify-content: center;
  }

  .mat-cell:nth-child(1), .mat-header-cell:nth-child(1) {
    flex: 0 0 30%;
    justify-content: center;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background: white;
  }

  .mat-row:nth-child(even){
    background-color:white;
  }

  .mat-row:nth-child(odd){
    background-color:rgb(247, 244, 244);
  }

