.login-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    max-width: 40%;
    margin-top: 10%;
    margin-left: 20%;
  }
  
  .login-container > * {
    width: 100%;
  }

  .login-container .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .login-container .message a {
    color: #339dcf;
    text-decoration: none;
  }