#menuBar {
	border-bottom:1px solid white;
}

.drawer-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.drawer-content {
	background-size: cover;
	background-position: relative;
	background-image: url("../assets/2.png");
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.drawer-sidenav {
	width: 3%;
	background:#00627d;
	transition: width 0.3s;
	overflow: hidden;
}

.drawer-sidenav:hover {
	width: 10%;
}

.menu-header{
	background-image: url(../assets/menu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
}