<mat-sidenav-container class="drawer-container">
  <mat-sidenav mode="side" #sidenav [(opened)]="menuHidden" #drawer class="drawer-sidenav" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <mat-toolbar class="menu-header">
      <span><i class="fas fa-bars"></i> {{menu}}</span>
      </mat-toolbar>
    <button mat-button style="width:100%; color: white; text-align: left;" (click)="this.router.navigate(['/table']);"><i class="fas fa-table"></i> {{table}} </button>
    <button mat-button style="width:100%; color: white; text-align: left;" (click)="this.router.navigate(['/matches']);"><i class="fas fa-futbol"></i> {{matches}}</button>
    <button mat-button style="width:100%; color: white; text-align: left;" (click)="this.router.navigate(['/history']);"><i class="fas fa-history"></i> {{history}}</button>
    <button mat-button style="width:100%; color: white; text-align: left;"(click)="this.router.navigate(['/statistic']);"><i class="fas fa-chart-bar"></i> {{statistics}}</button>
    <button mat-button [matMenuTriggerFor]="user" style="width:100%; color: white; text-align: left;"><i class="fas fa-user"></i> {{userLabel}}</button>
    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="this.router.navigate(['/settings']);"><i class="fas fa-wrench"></i> Settings</button>
      <button mat-menu-item (click)="this.router.navigate(['/select']);"><i class="fas fa-user-plus"></i> Select Team</button>
      <button mat-menu-item (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
      <button mat-menu-item (click)="delete()"><i class="fas fa-trash-alt"></i> Delete Account</button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>