<div id="menuBar" style="background-color: black; min-width: 100vw;"  *ngIf="menuHidden">

  <button mat-button [matMenuTriggerFor]="table" style="color: white;">Table</button>
  <mat-menu #table="matMenu">
    <button mat-menu-item (click)="this.router.navigate(['/table']);">Table</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="matches" style="color: white;">Matches</button>
  <mat-menu #matches="matMenu">
    <button mat-menu-item (click)="this.router.navigate(['/matches']);">Matches</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="history" style="color: white;">History</button>
  <mat-menu #history="matMenu">
    <button mat-menu-item>History</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="user" style="float: right; color: white;">User</button>
  <mat-menu #user="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Select Team</button>
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item (click)="delete()">Delete Account</button>
  </mat-menu>
</div>
<router-outlet></router-outlet>