.match-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-column-tipp {
    flex: 0 0 10%;
    text-align: center;
  }

  .mat-column-match {
    flex: 0 0 60%;
    text-align: center;
  }

  .mat-column-start {
    flex: 0 0 30%;
    text-align: center;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background: white;
    z-index: 99;
  }