<div class="match-container mat-elevation-z8">

  <mat-form-field>
    <mat-select placeholder="League" [(ngModel)]="selectedLeague" (change)="load_table();">
      <mat-option *ngFor="let league of leagues" [value]="league">{{ league.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="match">
      <mat-header-cell *matHeaderCellDef> Match </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img src="{{element.homelogo}}" height="20" width="20"> {{element.home}} - {{element.away}} 
        <img src="{{element.awaylogo}}" height="20" width="20">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipp">
      <mat-header-cell *matHeaderCellDef> Tipp </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field style="max-width: 50%">
          <input matInput type="text" [(ngModel)]="element.score" (change)="score_change(element);" style="text-align: center">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="start" >
      <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>