<div class="statistic-container">
  <mat-form-field>
    <mat-select placeholder="League" [(ngModel)]="selectedLeague">
      <mat-option *ngFor="let league of leagues" [value]="league">{{ league.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Statistic Type" (selectionChange)="get_statistic();" [(ngModel)] ="selectedType">
      <mat-option *ngFor="let type of types" [value]="type" >
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <canvas hidden id="canvas">{{ chart }}</canvas>
  </div>

</div>