.settings-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    max-width: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .settings-container > * {
    width: 100%;
  }
